<table border=1>
  <tr>
    <td>Season</td>
    <td>Start</td>
    <td>Banquet</td>
  </tr>

  <% @seasons.each do |s| %>
    <tr>
      <td><%= link_to s.name, season_path(s.id) %></td>
      <td><%= s.start_date %></td>
      <td><%= s.banquet_date %></td>
    </tr>
  <% end %>
</table>
