<% provide :title, 'Seasons' %>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <table class="table">
      <tr>
        <td>Location</td>
        <td>Season</td>
        <td>Start</td>
        <td></td>
      </tr>

      <% @seasons.each do |s| %>
        <tr>
          <td><%= s.location.name %></td>
          <td><%= link_to s.name, season_path(s.id) %></td>
          <td><%= s.start_date %></td>
          <td>
            <% if current_user && current_user.is_admin? %>
              <%= link_to('<i class="fas fa-file-export"></i> Summary'.html_safe, admin_season_path(s.id, format: :csv)) %>
              &nbsp
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
