<div class="row">
  <div class="col-12 bracket">
    <div id="minimal"></div>
    <script>
      var sizeParameters = {
      };

      var minimalData = {
        teams : [
          <% @all_matches.where(comment: 'Fall Playoffs - Round of 16').each do |m| %>
            ["<%= m.away_team.name %>", "<%= m.home_team.name %>"],
          <% end %>
        ],
        results : [
          [
            <% @all_matches.where(comment: 'Fall Playoffs - Round of 16').each do |m| %>
              [<%= m.away_score %>, <%= m.home_score %>],
            <% end %>
          ],
          // [[4,6], [2,1]]        /* second round */
        ]
      };

    $(function() {
        $('#minimal').bracket({
          init: minimalData,
          centerConnectors: true,
          teamWidth: 160,
          scoreWidth: 20
        });
      });
    </script>
  </div>
</div>
