<% provide :title, @season.name %>
<h3><%= @season.name %></h3>

<% if @season.report? %>
  <%= link_to '<i class="fas fa-file-alt"></i> Report'.html_safe, season_report_path(@season.id), class: 'btn btn-primary' %>
  <br><br>
<% end %>

<div class="row">
  <% @monday_divisions.each do |d| %>
    <div class="col-lg-4">
      <%= render partial: 'layouts/rank_board', locals: {
        title: "#{d.name} Division",
        link: division_path(d),
        teams: d.sorted_teams,
        rank_widths: rank_board_width(true, true, @show_elo, @show_elo_change)
      } %>
    </div>
  <% end %>
</div>

<div class="row">
  <% @tuesday_divisions.each do |d| %>
    <div class="col-lg-4">
      <%= render partial: 'layouts/rank_board', locals: {
        title: "#{d.name} Division",
        link: division_path(d),
        teams: d.sorted_teams,
        rank_widths: rank_board_width(true, true, @show_elo, @show_elo_change)
      } %>
    </div>
  <% end %>
</div>
