<div class="container-fluid">
  <div class="row">
    <% @monday_divisions.each do |d| %>
      <div class="col-lg-4">
        <%= render partial: 'divisions/division_rank', locals: { division: d } %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% @tuesday_divisions.each do |d| %>
      <div class="col-lg-4">
        <%= render partial: 'divisions/division_rank', locals: { division: d } %>
      </div>
    <% end %>
  </div>
</div>
