<p class="lead">Written by Sam Svoboda</p>

<p>By the time fall season begins on September 9th, it will have been three full weeks since the last official shuffleboard match at Royal Palms. While crowd favorites Nothing But Pepp and Swift Biscuits gave us of the most epic championship matches we could have asked for, the high has started to wear off for many of us -- we’re going through shuffle withdrawals.</p>

<p>With all of the data that’s been put into Shuff.io, we decided to fill the time by following the lead of pretty much every other sport on the planet at this point: nerd out on some STATS.</p>

<hr>

<p>If ’90s children’s sports movies have taught us anything, everyone loves an underdog story. So we decided to look into all the upsets that occurred in the summer season.</p>

<p>For our purposes, an upset is any time a team with a lower ELO coming into the match beats a team with a higher ELO. By that standard, about a third of all matches ended in upsets according to ELO. If you aren't familiar with ELO, give <a href="/faq">our FAQ</a> or <a href="https://en.wikipedia.org/wiki/Elo_rating_system">its Wikipedia page</a> a read.</p>

<table class="table">
  <tr>
    <td><b>Total Matches</b></td>
    <td>554</td>
  </tr>
  <tr>
    <td><b>Total Upsets</b></td>
    <td>172</td>
  </tr>
  <tr>
    <td><b>Upset %</b></td>
    <td>31.05%</td>
  </tr>
</table>

<h3>Biggest Upsets of the Season</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Week</th>
      <th>Division</th>
      <th>Winner</th>
      <th>ELO</th>
      <th>Opponent</th>
      <th>ELO</th>
      <th>Differential</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Week 3</td>
      <td>Tuesday Pilot</td>
      <td>Karen from Finance</td>
      <td>878</td>
      <td>Orca Sliders</td>
      <td>1106</td>
      <td>228</td>
    </tr>
    <tr>
      <td>Week 1</td>
      <td>Tuesday Cherry</td>
      <td>The Omero Catangs</td>
      <td>891</td>
      <td>Summer Shufflerz</td>
      <td>1109</td>
      <td>218</td>
    </tr>
    <tr>
      <td>Week 1</td>
      <td>Monday Hammer</td>
      <td>Biscuit by that Much</td>
      <td>973</td>
      <td>Slippery Biscuits</td>
      <td>1151</td>
      <td>178</td>
    </tr>
    <tr>
      <td>Summer Playoffs</td>
      <td>Group Play</td>
      <td>Chi Town Shufflers</td>
      <td>870</td>
      <td>Team Bell's Beer</td>
      <td>1038</td>
      <td>168</td>
    </tr>
    <tr>
      <td>Week 7</td>
      <td>Monday Hammer</td>
      <td>Neuken in the kitchen</td>
      <td>971</td>
      <td>Slippery Biscuits</td>
      <td>1134</td>
      <td>163</td>
    </tr>
    <tr>
      <td>Week 5</td>
      <td>Tuesday Cherry</td>
      <td>Slide into my DMs</td>
      <td>960</td>
      <td>All Day I Dream About Shuffling</td>
      <td>1113</td>
      <td>153</td>
    </tr>
    <tr>
      <td>Week 2</td>
      <td>Tuesday Hammer</td>
      <td>Wizards 3.0</td>
      <td>1001</td>
      <td>Resting Biscuit Face</td>
      <td>1146</td>
      <td>145</td>
    </tr>
    <tr>
      <td>Summer Tie-Breakers</td>
      <td>Monday Hammer</td>
      <td>The Mighty Pucks</td>
      <td>1024</td>
      <td>Hammer Time</td>
      <td>1165</td>
      <td>141</td>
    </tr>
    <tr>
      <td>Week 7</td>
      <td>Tuesday Hammer</td>
      <td>Biscuit Buddies</td>
      <td>986</td>
      <td>All Your Biscuit Are Belong To Us</td>
      <td>1118</td>
      <td>132</td>
    </tr>
    <tr>
      <td>Summer Playoffs</td>
      <td>Group Play</td>
      <td>Hell's Kitchen</td>
      <td>999</td>
      <td>Summer Shufflerz</td>
      <td>1125</td>
      <td>126</td>
    </tr>
  </tbody>
</table>

<p>There were some truly massive upsets throughout the season, even into tiebreakers and playoffs. The two biggest upsets, with a 200+ ELO differential, both occurred early in the season on Tuesdays. Interestingly, the two teams that lost those matchups recovered to go 6-2 and are both still in the top 10 for ELO out of the whole league. And the two winners who pulled off the upsets both finished two and six and now have the two lowest ELOs in the league. Just goes to show that anything can happen at Royal Palms.</p>

<p>(On the flip side, the third biggest upset featured Biscuit by that Much shocking Slippery Biscuits in Week 1. They went on to post an impressive 7-1 record in Monday Hammer, cruelly losing a 5-way tiebreaker on the last shot and missing the playoffs by… that much.)</p>

<h3>Top Upset Specialists</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Team</th>
      <th># of upsets</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Puck Nasty</td>
      <td>7</td>
    </tr>
    <tr>
      <td>The Limp Biscuits</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Shuffle Me Biscuits</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Boca Breeze</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Shuffle Butter</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Hell's Kitchen</td>
      <td>5</td>
    </tr>
    <tr>
      <td>The Mighty Pucks</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Any Given Monday</td>
      <td>5</td>
    </tr>
  </tbody>
</table>

<p>Puck Nasty started the season with an ELO of 982, then went on to win the Golden Tang for Tuesday Pilot and make the round of 8 in the playoffs, so it’s no surprise they sprung a number of upsets along the way. They were followed by the team who knocked them out of the playoffs, The Limp Biscuits, who notched six upsets on the season. Then six teams ended with five upsets.</p>

<h3>Most Upsetting Courts</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Court</th>
      <th>Upsets</th>
      <th>Total Matches</th>
      <th>Percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>01</td>
      <td>24</td>
      <td>66</td>
      <td>36.36%</td>
    </tr>
    <tr>
      <td>02</td>
      <td>21</td>
      <td>67</td>
      <td>31.34%</td>
    </tr>
    <tr>
      <td>03</td>
      <td>26</td>
      <td>62</td>
      <td>41.94%</td>
    </tr>
    <tr>
      <td>04</td>
      <td>16</td>
      <td>62</td>
      <td>25.81%</td>
    </tr>
    <tr>
      <td>05</td>
      <td>17</td>
      <td>58</td>
      <td>29.31%</td>
    </tr>
    <tr>
      <td>06</td>
      <td>21</td>
      <td>58</td>
      <td>36.21%</td>
    </tr>
    <tr>
      <td>07</td>
      <td>12</td>
      <td>61</td>
      <td>19.67%</td>
    </tr>
    <tr>
      <td>08</td>
      <td>18</td>
      <td>61</td>
      <td>29.51%</td>
    </tr>
    <tr>
      <td>09</td>
      <td>11</td>
      <td>43</td>
      <td>25.58%</td>
    </tr>
    <tr>
      <td>10</td>
      <td>6</td>
      <td>16</td>
      <td>37.50%</td>
    </tr>
  </tbody>
</table>

<p>With all this data, we figured we’d answer a question that no one is asking: are certain courts more susceptible to upsets than others? Sample size be damned, we’re going to start calling Court 3 the “Upset Special Court.” And interesting to note that Court 7, with its massive drift, is least susceptible to upsets. Perhaps that’s the sign of a good team, they can use the drift to their advantage.</p>

<h3>Best Matchups of the Season</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Division</th>
      <th>Week</th>
      <th>Home Team</th>
      <th>ELO</th>
      <th>Away Team</th>
      <th>ELO</th>
      <th>Combined ELO</th>
      <th>Winner</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Monday Hammer</td>
      <td>Summer Tie-Breakers</td>
      <td>Tu-Tang Clan</td>
      <td>1193</td>
      <td>Nothing But Pepp</td>
      <td>1154</td>
      <td>2347</td>
      <td>Nothing But Pepp</td>
    </tr>
    <tr>
      <td>Summer Playoffs</td>
      <td>Round of 8</td>
      <td>Nothing But Pepp</td>
      <td>1170</td>
      <td>Resting Biscuit Face</td>
      <td>1171</td>
      <td>2341</td>
      <td>Nothing But Pepp</td>
    </tr>
    <tr>
      <td>Monday Hammer</td>
      <td>Week 8</td>
      <td>Slippery Biscuits</td>
      <td>1123</td>
      <td>Tu-Tang Clan</td>
      <td>1187</td>
      <td>2310</td>
      <td>Tu-Tang Clan</td>
    </tr>
    <tr>
      <td>Tuesday Hammer</td>
      <td>Week 8</td>
      <td>Resting Biscuit Face</td>
      <td>1154</td>
      <td>Itstimeforyourkiss</td>
      <td>1150</td>
      <td>2304</td>
      <td>Resting Biscuit Face</td>
    </tr>
    <tr>
      <td>Summer Playoffs</td>
      <td>Semi-Finals</td>
      <td>Nothing But Pepp</td>
      <td>1177</td>
      <td>The Cupid Shufflers</td>
      <td>1125</td>
      <td>2302</td>
      <td>Nothing But Pepp</td>
    </tr>
    <tr>
      <td>Summer Playoffs</td>
      <td>Group Play</td>
      <td>Itstimeforyourkiss</td>
      <td>1139</td>
      <td>Nothing But Pepp</td>
      <td>1162</td>
      <td>2301</td>
      <td>Nothing But Pepp</td>
    </tr>
    <tr>
      <td>Monday Cherry</td>
      <td>Week 1</td>
      <td>Sponge Worthy</td>
      <td>1144</td>
      <td>Hammer Time</td>
      <td>1147</td>
      <td>2291</td>
      <td>Sponge Worthy</td>
    </tr>
    <tr>
      <td>Summer Playoffs</td>
      <td>Round of 16</td>
      <td>Get Rich or Die Shufflin</td>
      <td>1121</td>
      <td>Hammer Time</td>
      <td>1169</td>
      <td>2290</td>
      <td>Get Rich or Die Shufflin</td>
    </tr>
    <tr>
      <td>Summer Playoffs</td>
      <td>Round of 8</td>
      <td>Swift Biscuits</td>
      <td>1087</td>
      <td>Tu-Tang Clan</td>
      <td>1199</td>
      <td>2286</td>
      <td>Swift Biscuits</td>
    </tr>
    <tr>
      <td>Monday Hammer</td>
      <td>Week 6</td>
      <td>Shuff It, Shuff It Real Good!</td>
      <td>1093</td>
      <td>Tu-Tang Clan</td>
      <td>1192</td>
      <td>2285</td>
      <td>Shuff It, Shuff It Real Good!</td>
    </tr>
  </tbody>
</table>

<p>Unsurprisingly, many of these matchups occurred in tiebreakers/playoffs. Also unsurprisingly, we see a lot of the same teams show up repeatedly on the list. Ironically, though, the best matchup of the season was also one of the least important. Nothing But Pepp had already secured the Golden Tang for Monday Hammer, and Tu-Tang had just won a dramatic 5-team speed shuffle to earn a playoff spot and the second seed in the division. There was literally nothing at stake except pride. And momentum, if you believe in that, but it’s not like the winner of this matchup went on to do anything noteworthy in the postseason...</p>

<h3>Division ELOs</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Division</th>
      <th>Teams</th>
      <th>Average ELO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Monday Pilot</td>
      <td>16</td>
      <td>1009</td>
    </tr>
    <tr>
      <td>Monday Cherry</td>
      <td>16</td>
      <td>1019</td>
    </tr>
    <tr>
      <td>Monday Hammer</td>
      <td>20</td>
      <td>1028</td>
    </tr>
    <tr>
      <td>Tuesday Pilot</td>
      <td>18</td>
      <td>986</td>
    </tr>
    <tr>
      <td>Tuesday Cherry</td>
      <td>18</td>
      <td>1008</td>
    </tr>
    <tr>
      <td>Tuesday Hammer</td>
      <td>18</td>
      <td>1011</td>
    </tr>
  </tbody>
</table>

<p>Monday Hammer was the toughest division according to ELO, with Monday Cherry just behind - perhaps not surprising, as those two divisions were home to four of the five champions. It will be interesting to check on these numbers again in a few months with Monday Hammer becoming the challenge division.</p>

<h3>Biggest Movers</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Team</th>
      <th>ELO Gain</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nothing But Pepp</td>
      <td>75</td>
    </tr>
    <tr>
      <td>Any Given Monday</td>
      <td>67</td>
    </tr>
    <tr>
      <td>Boca Breeze</td>
      <td>60</td>
    </tr>
    <tr>
      <td>The Cupid Shufflers</td>
      <td>55</td>
    </tr>
    <tr>
      <td>Puck Nasty</td>
      <td>54</td>
    </tr>
    <tr>
      <td>Biscuits & Bacardi</td>
      <td>51</td>
    </tr>
    <tr>
      <td>The Mighty Pucks</td>
      <td>44</td>
    </tr>
    <tr>
      <td>Hell's Kitchen</td>
      <td>42</td>
    </tr>
    <tr>
      <td>Swift Biscuits</td>
      <td>42</td>
    </tr>
    <tr>
      <td>Little Davey and The Pistol Petes</td>
      <td>29</td>
    </tr>
  </tbody>
</table>

<p>Unsurprisingly, the Pepp Boys (not to be confused with the Pepp Boiz) had the biggest ELO gain for the year - a 9-0 regular season in Monday Hammer plus winning the playoffs will do that. But the rest of the top 10 is filled mostly by formerly decent teams who made a leap this season to become legitimate playoffs teams. Most of these teams have been around for a while, so if you’re a team that has been struggling to break through, there is plenty of hope!</p>

<h3>Strength of Schedule</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Team</th>
      <th>Average Opponent ELO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mr. Dr. Nut</td>
      <td>1072</td>
    </tr>
    <tr>
      <td>Nothing But Pepp</td>
      <td>1069</td>
    </tr>
    <tr>
      <td>Wizards 3.0</td>
      <td>1061</td>
    </tr>
    <tr>
      <td>Slippery Biscuits</td>
      <td>1060</td>
    </tr>
    <tr>
      <td>Gettin' Tang in The Kitchen</td>
      <td>1059</td>
    </tr>
    <tr>
      <td>Shuff It, Shuff It Real Good!</td>
      <td>1058</td>
    </tr>
    <tr>
      <td>Booty Tang</td>
      <td>1054</td>
    </tr>
    <tr>
      <td>Itstimeforyourkiss</td>
      <td>1053</td>
    </tr>
    <tr>
      <td>We Thought This Was Quidditch</td>
      <td>1052</td>
    </tr>
    <tr>
      <td>Boca Breeze</td>
      <td>1049</td>
    </tr>
  </tbody>
</table>

<p>These results are definitely influenced by playoffs, but it’s not surprising to see seven Monday Hammer teams in the top 10 for strength of schedule. It also makes NBP’s championship even more impressive, given that they faced the second toughest schedule according to ELO.</p>

<hr>

<p>That’s it for this report. If you have any other stats you’d like to see, or are curious about stats for your team last season, <a href="mailto:kevinreedy@gmail.com,sam.svoboda@gmail.com?subject=Shuff.io%20Season%20Report%20Feedback">send us a message!</a></p>
