<% provide :title, '[Admin] Matches' %>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <%= link_to '<i class="fas fa-plus"></i> New Match'.html_safe, new_admin_match_path, class: 'btn btn-success' %>
  </div>
</div>
