<% provide :title, 'Divisions' %>
<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <table class="table">
      <tr>
        <td>Season</td>
        <td>Division</td>
      </tr>

      <% @divisions.each do |d| %>
        <tr>
          <td><%= d.season.name %></td>
          <td><%= link_to d.name, division_path(d.id) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
