<% provide :title, 'Divisions' %>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <table class="table">
      <tr>
        <td>Season</td>
        <td>Division</td>
        <td></td>
        <td></td>
      </tr>

      <% @divisions.each do |d| %>
        <tr>
          <td><%= d.season.name %></td>
          <td><%= d.name %></td>
          <td><%= link_to 'Rankings', division_path(d.id) %></td>
          <td><%= link_to 'Schedule', division_week_path(d.id, 1) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
