<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <%= render partial: 'layouts/rank_board', locals: {
      title: "#{@division.name} Division",
      teams: @division.sorted_teams,
      division: @division
    } %>
  </div>
</div>
