<% provide :title, "#{@division.season.name} - #{@division.name}" %>
<h3><%= @division.season.name %> - <%= @division.name %></h3>

<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <%= render partial: 'layouts/rank_board', locals: {
      title: "#{@division.name} Division",
      teams: @teams,
      rank_widths: rank_board_width(true, true, @show_elo, @show_elo_change)
    } %>
  </div>
</div>
