<% if @bracket.errors.any? %>
  <% flash.now[:error] = @bracket.errors.full_messages %>
<% end %>

<%= stylesheet_link_tag    'bracket', media: 'all', 'data-turbolinks-track': 'reload' %>
<% provide :title, '2020 Bracket Challenge' %>
<div class="row bracket-challenge">
  <div class="col-lg-6 offset-lg-3">
    <h2>Create a Bracket</h2>

    <%= render partial: 'bracket/create_buttons', locals: { bracket: @bracket, tournament: @tournament } %>
  </div>
</div>

<br />
<br />
<br />
