<% provide :title, 'ISA Live Stream' %>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <h1>Live From Vienna</h1>

    <p>We'll be live streaming The 28th <a href="https://world-shuffleboard.org/">ISA World Championship</a> Finals from Vienna, Austria!</p>
    <p>The action starts right here at 12pm (GMT+1) on Friday, November 1st.</p>
    <table class="table">
      <tr><th>Location</th><th>Local Time</th><th>Time Zone</th></tr>
      <tr><td>Vienna</td><td>12:00pm</td><td>CET</td></tr>
      <tr><td>London</td><td>11:00am</td><td>GMT</td></tr>
      <tr><td>Rio de Janeiro</td><td>8:00am</td><td>BRT</td></tr>
      <tr><td>St. Petersburg</td><td>7:00am</td><td>EDT</td></tr>
      <tr><td>New York</td><td>7:00am</td><td>EDT</td></tr>
      <tr><td>Chicago</td><td>6:00am</td><td>CDT</td></tr>
      <tr><td>Denver</td><td>5:00am</td><td>MDT</td></tr>
      <tr><td>Phoenix</td><td>4:00am</td><td>MST</td></tr>
      <tr><td>Los Angeles</td><td>4:00am</td><td>PDT</td></tr>
      <tr><td>Tokyo</td><td>8:00pm</td><td>JST</td></tr>
      <tr><td>Brisbane</td><td>9:00pm</td><td>AEST</td></tr>
    </table>
  </div>
</div>
