<% provide :title, 'ISA Live Stream' %>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <h1>Live From Vienna</h1>
    <p>We streamed The 38th <a href="https://world-shuffleboard.org/">ISA World Championship</a> Finals from Vienna, Austria on November 1st, 2019!</p>
    <p><a href="https://www.youtube.com/watch?v=iXRkF6-ll88">Watch the Recording on YouTube!</a></p>
    <p>Check out <a href="https://worldcup2019.shuffleboarder.de/ranking/final">https://worldcup2019.shuffleboarder.de/ranking/final</a> for final rankings and match results.</p>
  </div>
</div>
