<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <h1>Live Streams</h1>
    <h2>Upcoming Events</h2>
    <h4>Royal Palms Chicago Fall 2019 Championship</h4>
    <p>Monday, November 11th, 2019 - 7:00pm CST</p>

    <p>We'll be live streaming the Royal Palms Chicago Fall 2019 Championship Semi-Finals and Final Matches.</p>
    <p>We kick off our coverage with Hammer Time vs 86ers and Shuff It, Shuff It Real Good! vs We Thought This Was Quidditch. The winners will play each other for the championship!</p>
    <p>The season started with 120 teams, making its way down to 30 over the last 9 weeks. Those 30 teams and two wild cards battled on Sunday for the coveted final four!</p>
    <p>
      <a href="https://www.youtube.com/watch?v=oEt12jRPEcg">YouTube Stream</a> |
      <%= link_to 'Live Score', two_game_url %>
    </p>

    <br>

    <h2>Past Events</h2>
    <h4>2019 ISA World Championship Finals</h4>
    <p>Friday, November 1st, 2019</p>

    <p>We streamed The 38th <a href="https://world-shuffleboard.org/">ISA World Championship</a> Finals, live from Vienna, Austria!</p>
    <p>
      <a href="https://www.youtube.com/watch?v=iXRkF6-ll88">YouTube Recording</a> |
      <a href="https://worldcup2019.shuffleboarder.de/ranking/final">Final Rankings</a>
    </p>
  </div>
</div>
<br><br>
