<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <h1>Live Streams</h1>
    Be sure to subscribe to our <a href="https://youtube.com/c/Shuffio">YouTube Channel</a> to stay up-to-date on all of our live-streams and game recordings.
    <br><br>

    <h4>The Royal Ruckus Shuffleboard Showdown</h4>
    <p>May - August 2020</p>

    <p>We worked with <a href="http://teddywaffles.com/">Teddy Waffles</a> to create an incredible 8 person singles tournament filmed, safely distanced, over the course of several months.</p>

    <p>
      <a href="https://www.youtube.com/playlist?list=PL492PZ-adK-OngUTUFk386vyhDCJnne2G">YouTube Playlist</a>
    </p>

    <br>

    <h4>St. Petersburg Shuffleboard Club 2020 Can-Am Tournament</h4>
    <p>Sunday, March 8th, 2020</p>

    <p>The Can-Am is the St. Petersburg Shuffleboard Clubs annual signature tournament. It is a singles tournament, limited to only amateur players. Its a great event for players wanting to dip their toe into tournament waters. It is split into Canadian and U.S. divisions. Everyone plays six matches on Saturday, and then the field will be cut. The top 8 players from each division return on Sunday for the finals. Everyone is invited to watch as the Canadian champion plays the U.S. champion for the trophy! </p>

    <p>
      <a href="https://www.youtube.com/watch?v=k92ZsU7lW58">YouTube Recording</a>
    </p>

    <br>

    <h4>Royal Palms Chicago Tangsgiving 2019 Singles Tournament</h4>
    <p>Monday, November 24th, 2019</p>

    <p>Live from The Royal Palms Shuffleboard Club in Chicago, it's the 2019 Tangsgiving Singles Tournament! After over six hours of play, we've gone from 64 players down to the final four. Who will bring home the championship and become the best shuffleboard play in Chicago? That is, until next year.</p>

    <p><a href="https://www.youtube.com/watch?v=vvu4VGY4Jag">YouTube Recording</a></p>

    <br>

    <h4>Royal Palms Chicago Fall 2019 Championship</h4>
    <p>Monday, November 11th, 2019</p>

    <p>We streamed the Royal Palms Chicago Fall 2019 Championship Semi-Finals and Final Matches.</p>
    <p>The season started with 120 teams, making its way down to 30 over the last 9 weeks. Those 30 teams and two wild cards battled on Sunday for the coveted final four!</p>
    <p><a href="https://www.youtube.com/watch?v=oEt12jRPEcg">YouTube Recording</a></p>

    <br>

    <h4>2019 ISA World Championship Finals</h4>
    <p>Friday, November 1st, 2019</p>

    <p>We streamed The 38th <a href="https://world-shuffleboard.org/">ISA World Championship</a> Finals, live from Vienna, Austria!</p>
    <p>
      <a href="https://www.youtube.com/watch?v=iXRkF6-ll88">YouTube Recording</a> |
      <a href="https://worldcup2019.shuffleboarder.de/ranking/final">Final Rankings</a>
    </p>
  </div>
</div>
<br><br>
