<div class="si">
  <div class="si-frame-header">
    <div class="si-wins-yellow">0</div>
    <div class="si-hammer-yellow"></div>

    <div class="si-frame-number">
      Frame 16
    </div>

    <div class="si-hammer-black si-hammer-flip"></div>
    <div class="si-wins-black">2</div>
  </div>

  <div class="si-team-bg-yellow">
    <div class="si-team-name-yellow">Swift Biscuits</div>
    <div class="si-score-yellow">-10</div>
  </div>

  <div class="si-team-bg-black">
    <div class="si-score-black">27</div>
    <div class="si-team-name-black">Shuff It, Chunk!</div>
  </div>
</div>

<!-- <%= @game.id %> -->
