<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <h2>A new Shuff.io is coming soon!</h2>
    <p class="lead">
      In the mean time, be sure to tune in to the <a href="https://www.youtube.com/watch?v=1WE2ilM1UlA">2022 ISA World Team Shuffleboard Championship Live Stream</a>,
      brought to you by our friends at
      <a href="https://allenshuffleboard.com/">Allen Shuffleboard</a>
      and <a href="https://recrec.io/">RecRec</a>!
      We're going live on Friday, August 26th at 1:30pm ET.
    </p>
  </div>
</div>
