<% provide :title, 'FAQ' %>
<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <p class="font-weight-bold">What is Shuff.io?</p>
    <p>
      Shuff.io is a record and stat tracking system developed for the
      <a href="https://www.royalpalmschicago.com/">Royal Palms Chicago</a>
      Shuffleboard League.
    </p>

    <p class="font-weight-bold">What is RecRec</p>
    <p>
      RecRec is a company and product being developed to give recreational
      sports managers a modern platform to manage their leagues and
      tournaments. Shuff.io will eventually pull data from RecRec.
    </p>

    <p class="font-weight-bold">...but why?</p>
    <p>
      Hi, I'm <a href="https://kevinreedy.net/">Kevin</a>, and I love stats.
      The <a href="https://www.royalpalmschicago.com/">Royal Palms Chicago</a>
      Shuffleboard League has six divisions of 20 teams, but they don't play
      each other until playoffs. I was looking to put together a ranking system
      for all teams, and as a way to compare teams with similar records (as
      teams also have different schedules).
    </p>

    <p class="font-weight-bold">What is ELO?</p>
    <p>
      ELO is a rating system used in chess and many other games. The gist is you
      gain points for winning matches, and lose points for losing matches. If
      you defeat a team with a higher rating than you, you'll gain more points.
      If that team has a much higher rating, you'll gain even more points. This
      is great for two reasons: 1) it accounts for teams with varying difficulty
      in schedules and 2) it will allow new teams to get ranked within teams
      that have played for many seasons. You can read more about ELO on
      <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Wikipedia</a>.
    </p>

    <p class="font-weight-bold">My team has a lower rating than I think it should.</p>
    <p>
      Mine too! Take a look at your team's page to see every match and how it
      changed your rating. ELO is eventually consistent; if you lost your last
      match, your rating may be lower for a bit while you get some more wins in.
    </p>

    <p class="font-weight-bold">Our rating changed without any new matches.</p>
    <p>
      There was likely a correction of a previous match, which could change any
      match after it.
    </p>

    <p class="font-weight-bold">Our ELO jumped a bunch before Fall 2019 Season. What happened?</p>
    <p>
      We found <a href="https://github.com/iain/elo/pull/12">a bug</a> in the
      ELO library we use regarding rounding. We applied the fix retroactively,
      and everyone's scores should have jumped a bit.
    </p>

    <p class="font-weight-bold">How do you get all of the data?</p>
    <p>
      Starting in the Summer 2018 league, I've been taking pictures of the
      weekly match reports at the end of each week.
    </p>

    <p class="font-weight-bold">I've found some data that is incorrect.</p>
    <p>
      Let <a href="mailto:kevinreedy@gmail.com">Kevin</a> know, and he'll get it
      updated!
    </p>

    <p class="font-weight-bold">Do I need to make an account?</p>
    <p>
      Right now, accounts are only used for Admins to report match results and the Shufflinsanity Bracket Challenge.
    </p>

    <p class="font-weight-bold">How can I help?</p>
    <p>
      <a href="https://github.com/RecRecIO/shuffio">This website</a> is
      open-source, and I could always use help adding new features! Take a look
      at <a href="https://github.com/RecRecIO/shuffio/issues">GitHub
      Issues</a> for ideas on where to get started.
    </p>

    <p class="font-weight-bold">Will this site work for my shuffleboard club?</p>
    <p>
      Today, probably not. There are a few assumptions in the code that tie it
      closely to how Royal Palms runs their leagues. Get in touch, and we can
      work something out!
    </p>
  </div>
</div>
