@import "bootstrap";

$black: #000000;
$almost-black: #181818;
$white: #ffffff;
$teal: #8edcd7;
$wood: #ffdda1;
$red: #cc0000;
$green: #00cc00;

.board-table {
  background-color: $wood;
  text-align: center;
}

.board-row {
  background-color: $black;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.board-title-row {
  background-color: $teal;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.board {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.board-rank {
  background-color: $almost-black;
  color: $white;
}

.board-name {
  color: $white;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.board-wins {
  background-color: $teal;
  color: $white;
}

.board-losses {
  background-color: $almost-black;
  color: $white;
}

.board-elo {
  background-color: $almost-black;
  color: $white;
}

.board-elo-up {
  background-color: $green;
  color: $white;
}

.board-elo-down {
  background-color: $red;
  color: $white;
}

.board-elo-same {
  background-color: $almost-black;
  color: $white;
}

.dummy {
  margin-top: 100%;
}

.dummy-2 {
  margin-top: 50%;
}

.dummy-6 {
  margin-top: 17%;
}

.in {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
