@import "bootstrap";

$black: #000000;
$almost-black: #181818;
$white: #ffffff;
$teal: #8edcd7;
$wood: #ffdda1;
$red: #cc0000;
$green: #00cc00;
$orange: #e35130;
$gold: #d4af37;

$a-tags: 'a, a:active, a:hover, a:visited';

.page-break {
  page-break-after: always;
}

.yield {
  padding-top: 25px;
}

.nav-bg {
  background-color: $teal;
}

h3 {
  text-align: center;
}

.board-table {
  background-color: $wood;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 32px;
}

.board-row {
  background-color: $black;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.board-title-row {
  background-color: $teal;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.board {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  #{$a-tags} {
    color: $white;
  }
}

.board-title {
  #{$a-tags} {
    color: $black;
    text-decoration: none;
  }
}

.board-rank {
  background-color: $almost-black;
  color: $white;
}

.board-name {
  color: $white;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.board-wins {
  background-color: $teal;
  color: $white;
  font-weight: bold;
}

.board-losses {
  background-color: $almost-black;
  color: $white;
  font-weight: bold;
}

.board-elo {
  background-color: $almost-black;
  color: $white;
}

.board-elo-up {
  background-color: $green;
  color: $white;
}

.board-elo-down {
  background-color: $red;
  color: $white;
}

.board-elo-same {
  background-color: $almost-black;
  color: $white;
}

.dummy {
  margin-top: 100%;
}

.dummy-1 {
  margin-top: 100%;
}

.dummy-2 {
  margin-top: 50%;
}

.dummy-3 {
  margin-top: 33%;
}

.dummy-4 {
  margin-top: 25%;
}

.dummy-5 {
  margin-top: 20%;
}

.dummy-6 {
  margin-top: 17%;
}

.dummy-7 {
  margin-top: 14%;
}

.dummy-8 {
  margin-top: 12%;
}

.dummy-9 {
  margin-top: 11%;
}

.dummy-10 {
  margin-top: 10%;
}

.dummy-11 {
  margin-top: 9%;
}

.dummy-12 {
  margin-top: 8%;
}

.in {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.team-toggle {
  margin-bottom: 1em;
}

.team-logo {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-left: 16px;
  margin-right: 16px;
}

.team-name {
  font-size: 24pt;
}

.team-stats {
  margin-left: 16px;
}

.pad {
  padding: 4px;
}

.week-details {
  font-size: 18px;
}

.week-arrows {
  font-size: 24px;
}

.week-link {
  font-size: 24px;
}

.champion {
  color: $gold;

  #{$a-tags} {
    color: $gold;
  }
}

.messages {
  border-radius: 0px;
}

.name-break {
  word-wrap: break-word;
  max-width: 250px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.tooltip-inner {
  white-space:pre-wrap;
}
