@import "bootstrap";
@import "application";

body {
  // background-color: $black;
  background-color: #00ff00;
  color: $white;
}

.live-score {
  background-color: $black;
  text-align: center;
}

.live-description {
  background-color: $black;
  text-align: center;
  color: $white;
}

.yellow-head {
  background-color: $yellow;
  color: $black;
  font-size: 24px;
  width: 50%;
}

.black-head {
  background-color: $almost-black;
  color: $white;
  font-size: 24px;
  width: 50%;
}

.four-game-table {
  width: 100%;
  table-layout: fixed;
}

.score-box {
  color: $white;
  font-size: 80px;
}

.score-box td {
  padding: 0px;
}

.rp-logo {
  width: 175px;
}

.court-text {
  font-size: 32px;
}

.court-number {
  font-size: 200px;
  line-height: 150px;
}

.court-divider {
  background-color: $white;
}

.inverted {
	filter: invert(100%);
}

.live-link {
  font-size: 16px;
}

.hammer-mark {
  padding: 1em 3em;
  border: 0px;
  background-image: linear-gradient(225deg, white, white 10px, transparent 10px, transparent);
}

// Lower Third with summary sprinkled in
.lower-third {
  background-color: transparent;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

.lower-third > table {
  border-collapse: collapse;
}

.l3-black {
  background: linear-gradient(to left, rgba(254,252,234,0) 0%,rgba(91,91,91,1) 10%,rgba(63,63,63,1) 45%,rgba(48,48,48,1) 100%);
  color: white;
  font-size: 1.5rem;
}

.l3-divider {
  padding: 10px !important;
  background-color: transparent !important;
}

.l3-frame {
  white-space: nowrap;
  vertical-align: middle !important;
  text-align: left;
  font-weight: 600;
}

.l3-game-name {
  color: white;
  font-style: italic;
  font-weight: 600;
  vertical-align: middle !important;
  white-space:  nowrap;
}

.l3-game-name.l3-yellow {
  background: linear-gradient(to right, rgba(73,53,54,0) 0%,rgba(73,53,54,0.1) 1%,rgba(73,53,54,1) 10%,rgba(92,66,68,1) 22%,rgba(115,83,84,1) 75%,rgba(156,91,95,1) 95%,rgba(241,218,54,1) 100%);
  color:  white;
}

.l3-game-name.l3-black {
  background: linear-gradient(to right, rgba(73,53,54,0) 0%,rgba(73,53,54,0.1) 1%,rgba(73,53,54,1) 10%,rgba(92,66,68,1) 22%,rgba(115,83,84,1) 75%,rgba(48,48,48,1) 100%);
}

.l3-hammer {
  text-align: right;
  padding-right: 2px !important;
}

.l3-match {
  font-size: 1.25rem;
}

.l3-match > td {
  border-top-style: none;
  padding-top: 1px;
  padding-bottom: 2px;
}

.l3-match-one {
  background: linear-gradient(to bottom, #2f4f4f 0%,#3b6363 20%,#4a7c7c 95%,#5c9b9b 100%);
  color: white;
  font-size: 1.5rem;
}

.l3-match-one > td {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-style: none;
}

.l3-match-two {
  background: linear-gradient(to top, #2f4f4f 0%,#3b6363 20%,#4a7c7c 95%,#5c9b9b 100%);
  color: white;
  font-size: 1.5rem;
}

.l3-match-two > td {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-style: none;
}

.l3-match-three {
  background: linear-gradient(to bottom, #2f4f4f 0%,#3b6363 20%,#4a7c7c 95%,#5c9b9b 100%);
  color: white;
  font-size: 1.5rem;
}

.l3-match-three > td {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-style: none;
}

.l3-match-four {
  background: linear-gradient(to top, #2f4f4f 0%,#3b6363 20%,#4a7c7c 95%,#5c9b9b 100%);
  color: white;
  font-size: 1.5rem;
}

.l3-match-four > td {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-style: none;
}

.l3-player-name {
  text-align: left;
  white-space:  nowrap;
  font-weight: 600;
  max-width: 320px;
  min-width: 320px;
}

.l3-player-one {
  background: linear-gradient(to bottom, #2f4f4f 0%,#3b6363 20%,#4a7c7c 95%,#5c9b9b 100%);
  color: white;
  font-size: 2rem;
}

.l3-player-one > td {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-style: none;
}

.l3-player-one > .l3-player-name {
  border-top-left-radius: 25px;
}

.l3-player-two {
  background: linear-gradient(to top, #2f4f4f 0%,#3b6363 20%,#4a7c7c 95%,#5c9b9b 100%);
  color: white;
  font-size: 2rem;
}

.l3-player-two > td {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-style: none;
}

.l3-player-two > .l3-player-name {
  border-bottom-left-radius: 25px;
}

.l3-player-two > .l3-score {
  border-bottom-right-radius: 25px;
}

.l3-score {
  font-weight: 900;
  padding-left: 0px !important;
  max-width: 75px;
  min-width: 75px;
}

.l3-yellow {
  background: linear-gradient(to left, rgba(254,252,234,0) 0%,rgba(252,242,151,1) 10%,rgba(249,232,102,1) 44%,rgba(249,232,101,1) 45%,rgba(241,218,54,1) 100%);
  color: black;
  font-size: 1.5rem;
}

.summary-game-name {
  color: white;
  font-style: italic;
  font-size: 1rem;
  font-weight: 600;
  vertical-align: middle !important;
  white-space:  nowrap;
}

.overlay-table {
  table-layout: fixed;
  width: 700px;
}

.overlay-frame {
  width: 75px;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
}

.overlay-frame:not(:last-child) {
  border-right: 2px solid #222222;
}

.overlay-frame-yellow {
  @extend .overlay-frame;
  background-color: #ffcc00;
}

.overlay-frame-black {
  @extend .overlay-frame;
  background-color: #333333;
}

.overlay-row {
  height: 50px;
}

.overlay-row-yellow {
  @extend .overlay-row;
  // background-color: #ffcc00;
  background: linear-gradient(#ffcc00 0%, #ffcc00 50%, #eebb00 51%, #eebb00 100%);
}

.overlay-row-black {
  @extend .overlay-row;
  // background-color: #333333;
  background: linear-gradient(#333333 0%, #333333 50%, #222222 51%, #222222 100%);
}

.overlay-series {
  width: 15px;
  text-shadow: 1px 1px 1px #000000;
}

.overlay-name {
  width: 375px;
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px 2px #000000;
  white-space: nowrap;
  overflow: hidden;
}

.overlay-name-yellow {
  @extend .overlay-name;
  // background-color: #ffcc00;
}

.overlay-name-black {
  @extend .overlay-name;
  // background-color: #333333;
}

.overlay-score {
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px 2px #000000;
  text-align: center;
  background: rgba(0,0,0,0.4);
}

.overlay-score:not(:last-child) {
  border-right: 2px solid rgba(0,0,0,0.4);
}

.overlay-score-yellow {
  @extend .overlay-score;
}

.overlay-score-black {
  @extend .overlay-score;
}

.overlay-title {
  background: linear-gradient(#555555 0%, #555555 50%, #444444 51%, #444444 100%);
  text-shadow: 1px 1px 1px #000000;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 0px 0px 10px 10px;
}
