  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %> messages" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= (value.class == Array) ? value.join('<br>').html_safe : value %>
    </div>
  <% end %>

  <% if defined?(resource) && resource.errors && resource.errors.any? %>
    <div class="alert alert-dismissable alert-danger messages" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= resource.errors.full_messages.join('<br />').html_safe %>
    </div>
  <% end %>
