<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h2>Edit Profile</h2>

    <%= render partial: 'users/registrations/form', locals: {
      method: :put,
      password_placeholder: "Leave blank if you don't want to change it",
      need_current_password: true
    } %>

    <hr>

    <%= link_to 'Delete my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', method: :delete %>

    <hr>

    <%= link_to "Back", :back, class: 'btn btn-secondary' %>
  </div>
</div>
