<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h2>Sign up</h2>

    <%= link_to('<i class="fab fa-google"></i> Sign up with Google'.html_safe, user_google_oauth2_omniauth_authorize_path, class: 'btn btn-danger') %>
    or fill out the form below.

    <hr>

    <%= render partial: 'users/registrations/form', locals: {
      method: :post,
      password_placeholder: 'Make it secure!',
      need_current_password: false
    } %>

    <hr>

    <%= render 'users/shared/links' %>
  </div>
</div>
